html {
  font-family: "Inter UI", Helvetica, sans-serif;
  font-size: 14px;
}

body {
  padding: 10px;
  max-width: 800px;
  margin: auto;
}

a:focus,
svg:focus,
path:Focus,
div:focus {
  outline-color: rgb(142, 126, 223) !important;
}

*::selection {
  background: black;
  color: white;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.icon {
  margin-bottom: 10px;
}

.dotted-header {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0;
  width: 100%;
  height: 140px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 4 4'%3E%3Cpath fill='%23222222' fill-opacity='0.7' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#bio {
  font-size: 1.1em;
}

#bio code {
  font-size: 1em
}

.row {
  display: flex;
  flex-direction: row;
}

.underline {
  /* border-bottom: 1px solid black; */
  text-decoration: underline;
}

.link-arrow {
  display: none;
  text-decoration: none;
}

.block .link-arrow {
  display: inline-block;
  text-decoration: none;
}

@media (pointer: fine) {
  .link-arrow,
  .block .link-arrow {
    display: none;
    text-decoration: none;
    z-index: -1;
  }
  a:hover .link-arrow {
    display: inline-block;
    text-decoration: none;
  }
}

.huge-title {
  font-weight: 800;
  /* font-size: 18px */
}

body {
  -webkit-text-size-adjust: none;
}

.flare {
  color: rgb(67, 32, 239);
}

.block {
  border-radius: 3px;
  padding: 20px;
  border: 1px solid rgb(231, 233, 235);
}

.link-list {
  padding-left: 10px;
  line-height: 1.75em;
}

footer>.link-list {
  line-height: 1.65em;
}

.link-list>div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.link-list>div>img,
.link-list>div>span {
  padding-right: 4px;
}

.block-title {
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: .85rem;
}

.link-list-title {
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: .85rem;
}

.inner-block-title {
  font-weight: 600;
  font-size: .85rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.social>a:hover {
  text-decoration: underline;
  /* background-color: rgba(100,100,100,.08) */
}

.hover-flare:hover {
  color: rgb(67, 32, 239);
}

.title {
  font-weight: 600;
}

.grid>a:hover {
  border: 1px solid rgb(184, 184, 184)
  /* rgb(197, 198, 199); */
}

.grid>a:hover #show-all-projects {
  border: none;
}

#show-all-projects {
  border: none;
}

a:hover>.title {
  color: rgb(67, 32, 239);
  /* text-decoration: underline; */
}

.grid {
  display: grid;
  align-content: space-evenly;
}

.grid-small-gap {
  grid-gap: 10px 10px;
}

.grid-large-gap {
  grid-gap: 20px 20px;
}

.grid-two-col {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-mini-two-col {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-three-col {
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

footer>.block-text {
  max-width: 215px;
  padding-top: 5px;
  line-height: 1.3;
}

.date {
  font-weight: 500;
}

code {
  background-color: rgba(67, 32, 239, .1);
  padding: 0px 2px;
  /* color: rgb(75, 75, 216); */
  font-size: 1em;
  font-family: 'Consolas', monospace
}

ul {
  margin-block-start: .5em;
  padding-left: 2em;
  margin-bottom: 0px;
  margin-block-end: 0px;
  padding-bottom: 0px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0px 15px 0px;
  padding-top: 5px;
  border-top: 1px solid rgb(231, 233, 235);
  font-size: .9em;
}

h1,
h2,
h3,
h4,
h5,
div {
  padding: 0;
  margin: 0;
}